#  **Scraping de dados em PDF**
<font size="5">**Quantidade de Emplacamentos por Marca e Modelo**</font>

<p style='text-align: right;'> Por Henrique Leão </p>

## <font size="5">**1. Importação de Bibliotecas e DataFrames**</font>

In [589]:
import tabula
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

# Importando dados
df_1 = tabula.read_pdf('2021/Jan_Fev_2021.pdf', pages = '11-18')
df_2 = tabula.read_pdf('2021/Mar_Abr_2021.pdf', pages = '11-18')
df_3 = tabula.read_pdf('2021/Mai_Jun_2021.pdf', pages = '11-18')
df_4 = tabula.read_pdf('2021/Jul_Ago_2021.pdf', pages = '11-18')
df_5 = tabula.read_pdf('2021/Set_Out_2021.pdf', pages = '11-18')
df_6 = tabula.read_pdf('2021/Nov_Dez_2021.pdf', pages = '11-18')

print('Total de Tabelas: \nJaneiro/Fevereiro - {}; \nMarço/Abril - {}; \nMaio/Junho - {}; \nJulho/Agosto - {}; \nSetembro/Outubro - {}; \nNovembro/Dezembro - {}'
.format(str(len(df_1)), str(len(df_2)), str(len(df_3)), str(len(df_4)), str(len(df_5)), str(len(df_6))))

Total de Tabelas:
Janeiro/Fevereiro - 8;
Março/Abril - 8;
Maio/Junho - 8;
Julho/Agosto - 8;
Setembro/Outubro - 8;
Novembro/Dezembro - 8

## <font size="5">**2. Declarando Listas e Dicionários**</font>

In [590]:
Lista_Categorias = ['Veículo de Entrada', 'Hatch Pequeno', 'Hatch Médio', 'Sedan Pequeno', 'Sedan Compacto', 
'Sedan Médio', 'Sedan Grande', 'SW Médio', 'SW Grande', 'Monocab', 'Grandcab', 'Sport', 'SUV', 'Pick-up Pequena',
'Pick-up Grande', 'Furgoes']

Lista_Eletricos = ['500E', 'E-JS1', 'ZOE', 'LEAF', 'I3', '330E', '530E', 'MODEL S', 'E TRON GT', 'E TRON', 'BOLT', 'E5', '330E', '530E']

Lista_Hibridos = ['COROLLA', 'COROLLA CROSS', 'XC40', 'XC60', 'XC90', 'PANAMERA', '745LE']

Dicionario = {
    'ETIOS HB': 'ETIOS_HB', 'YARIS HB': 'YARIS_HB', 'FOX/CROSS FOX': 'FOX+CROSS_FOX', 'CRUZE HB': 'CRUZE_HB', 'CLASSE A': 'CLASSE_A', 'KA SEDAN': 'KA_SEDAN', 'ETIOS SEDAN':'ETIOS_SEDAN', 'ONIX PLUS': 'ONIX_PLUS', 'YARIS SEDAN': 'YARIS_SEDAN',
    'ARRIZO 5': 'ARRIZO_5', 'ARRIZO 6': 'ARRIZO_6', 'CRUZE SEDAN': 'CRUZE_SEDAN', 'CLASSE A': 'CLASSE_A', 'CLASSE C': 'CLASSE_C', 'CLASSE E': 'CLASSE_E', 'A3 SEDAN': 'A3_SEDAN', 'SPACE FOX': 'SPACE_FOX', 'PALIO WEEKEND': 'PALIO_WEEKEND', 
    'RS6 AVANT': 'RS6_AVANT', 'RS4 AVANT': 'RS4_AVANT', 'T CROSS': 'T-CROSS', 'TIGGO 2': 'TIGGO_2', 'TIGGO 3X': 'TIGGO_3X', 'TIGGO 5X': 'TIGGO_5X', 'TIGGO 7': 'TIGGO_7','TIGGO 8': 'TIGGO_8', 'HILUX SW4': 'HILUX_SW4', 'C4 CACTUS': 'C4_CACTUS', 
    'COROLLA CROSS': 'COROLLA_CROSS', 'ECLIPSE CROSS': 'ECLIPSE_CROSS', 'CLASSE GLB': 'CLASSE_GLB', 'JIMNY SIERRA': 'JIMNY_SIERRA', 'DAILY 35-150': 'DAILY_35-150', 'OUTBACK WAGON': 'OUTBACK_WAGON', 'RANGE ROVER': 'RANGE_ROVER', 
    'GOLF VARIANT': 'GOLF_VARIANT', 'E TRON GT': 'E_TRON_GT', 'E TRON': 'E_TRON', 'VW/MAN': 'VW',
    'CAOA CHERY': 'CAOA_CHERY', 'LAND ROVER': 'LAND_ROVER'
}

Dicionario = {r"\b{}\b".format(k): v for k, v in Dicionario.items()}

## <font size="5">**3. Declarando Funções**</font>

In [591]:
# Exclui colunas desnecessárias

def preparar_coluna(tabela):
    global dataframe
    for i in range(len(tabela)):
        if len(tabela[i].columns) == 2:
            tabela[i].drop(columns = ['Unnamed: 0'], inplace = True)
            tabela[i].columns = ['Dados']
        elif len(tabela[i].columns) == 3:
            tabela[i].drop(columns = ['Unnamed: 0', 'Unnamed: 1'], inplace = True)
            tabela[i].columns = ['Dados']
    dataframe = tabela.copy()

In [592]:
# Concatenando lista de DataFrames em um unico DataFrame

def concatenar(tabela):
    global dataframe
    dataframe = pd.concat(tabela)
    dataframe.index = range(dataframe.shape[0])

    # Correções por substiuição
    dataframe['Dados'] = dataframe['Dados'].str.replace('2021 ', 'Ano')
    dataframe['Dados'] = dataframe['Dados'].str.replace(' =', '')

In [593]:
# Inserindo Parametro_1, onde cria uma segunda coluna com dados não nulos apenas nas linhas de interesse do dataframe original
# Inserindo Parametro_2, onde cria uma terceira coluna onde apenas será True onde na coluna 1 conter a palavra 'Total' e na linha anterior o elemento não for nulo

#def definir_parametros(tabela):
    #global dataframe
    #dataframe['Parametro_1'] = pd.to_numeric(tabela['Dados'].str[:1], errors = 'coerce')
    #dataframe['Parametro_2'] = tabela.Dados.str[:5]

    #j = 0
    #for i in range(len(dataframe)):
    #    if i == 1:
    #        j = 0
    #    if dataframe['Parametro_2'][i] == 'Total' and pd.isnull(dataframe['Parametro_1'][j]) == False:
    #        dataframe['Parametro_2'][i] = True
    #    else:
    #        dataframe['Parametro_2'][i] = False
    #    j = j + 1

In [594]:
# Inserindo coluna de categorias

#def definir_categorias(tabela):
#    global dataframe
#    dataframe['Categoria'] = pd.isnull(tabela['Parametro_1'])
#
#    j = 0
#    for i in range(len(dataframe)):
#        if dataframe.Categoria[i] == False:
#            dataframe.Categoria[i] = Lista_Categorias[j]
#        else:
#            dataframe.Categoria[i] = ''
#        if dataframe.Parametro_2[i] == True:
#            j = j + 1
#    
#    dataframe.dropna(inplace = True)
#    dataframe['Dados'].replace(Dicionario, regex = True, inplace = True)
#    dataframe.index = range(dataframe.shape[0])

#--------------------------------------------------------------------------------
def definir_categorias(tabela):
    global dataframe
    dataframe['Parametro_1'] = pd.to_numeric(tabela['Dados'].str[:1], errors = 'coerce') # Herança da Função morta
    dataframe['Categoria'] = pd.isnull(tabela['Parametro_1'])

    j = 0
    for i in range(len(dataframe)):
        if i == 0:
            k = 0
        else:
            k = i - 1
        if dataframe.Categoria[i] == False:
            dataframe.Categoria[i] = Lista_Categorias[j]
        else:
            dataframe.Categoria[i] = ''
        if pd.isnull(dataframe['Parametro_1'][i]) == True and pd.isnull(dataframe['Parametro_1'][k]) == False:
            j = j + 1
        
    dataframe.dropna(inplace = True)
    dataframe['Dados'].replace(Dicionario, regex = True, inplace = True)
    dataframe.index = range(dataframe.shape[0])

In [595]:
# Expandindo a coluna dados em novas colunas

def expandir_dados(tabela, mes_1, mes_2):
    global dataframe
    if len(dataframe['Dados'].str.split(' ', expand=True).columns) == 4:
        dataframe[['Coluna_1', 'Coluna_2', mes_1, mes_2]] = tabela['Dados'].str.split(' ', expand=True)
    elif len(dataframe['Dados'].str.split(' ', expand=True).columns) == 5:
        dataframe[['Coluna_1', 'Coluna_2', mes_1, mes_2, 'Coluna_3']] = tabela['Dados'].str.split(' ', expand=True)
        dataframe.drop(columns = ['Coluna_3'], inplace = True)
        
    dataframe[['Fabricante', 'Modelo']] = dataframe['Coluna_2'].str.split('/', expand=True)


    dataframe['Fabricante'] = dataframe['Fabricante'].str.replace('_', ' ')

    dataframe['Modelo'] = dataframe['Modelo'].str.replace('_', ' ')
    dataframe['Modelo'] = dataframe['Modelo'].str.replace('+', '/')

    dataframe[mes_1] = dataframe[mes_1].str.replace('.', '').astype(int)
    dataframe[mes_2] = dataframe[mes_2].str.replace('.', '').astype(int)

In [596]:
# Definindo a coluna com tipo de motor e o ano de referencia dos dados
# Removendo colunas excedentes e reordenando as colunas

def ajustes_finais(tabela, mes_1, mes_2, ano):
    global dataframe
    tabela['Motor'] = ''
    for i in range(len(tabela)):
        if tabela['Modelo'].iloc[i] in Lista_Eletricos:
            tabela['Motor'].iloc[i] = 'Elétrico'
        elif tabela['Modelo'].iloc[i] in Lista_Hibridos:
            tabela['Motor'].iloc[i] = 'Termico ou Hibrido'
        else:
            tabela['Motor'].iloc[i] = 'Termico'

    dataframe['Ano'] = ano

    dataframe.drop(columns = ['Dados', 'Parametro_1', 'Coluna_1', 'Coluna_2',], inplace = True)
    dataframe = dataframe[['Fabricante', 'Modelo', 'Categoria', 'Motor', 'Ano', mes_1, mes_2]]
    dataframe.drop(dataframe[dataframe.Categoria == 'Furgoes'].index, inplace = True )
    dataframe.index = range(dataframe.shape[0])

In [597]:
# Definindo uma função unica com as demais funções

def scraping(dataframe_original, mes_1, mes_2, ano):
    global dataframe
    preparar_coluna(dataframe_original)
    concatenar(dataframe)
    #definir_parametros(dataframe)
    definir_categorias(dataframe)
    expandir_dados(dataframe, mes_1, mes_2)
    ajustes_finais(dataframe, mes_1, mes_2, ano)
    dataframe_original = dataframe.copy()
    del dataframe
    return dataframe_original

In [598]:
df_1 = scraping(df_1, mes_1 = 'Janeiro', mes_2 = 'Fevereiro', ano = '2021')
df_2 = scraping(df_2, mes_1 = 'Março', mes_2 = 'Abril', ano = '2021')
df_3 = scraping(df_3, mes_1 = 'Maio', mes_2 = 'Junho', ano = '2021')
df_4 = scraping(df_4, mes_1 = 'Julho', mes_2 = 'Agosto', ano = '2021')
df_5 = scraping(df_5, mes_1 = 'Setembro', mes_2 = 'Outubro', ano = '2021')
df_6 = scraping(df_6, mes_1 = 'Novembro', mes_2 = 'Dezembro', ano = '2021')

# Teste de Operação

In [599]:
#df_1.to_csv('Observar/df_1.csv', sep = ';', encoding = 'UTF-8', index = False)
#df_2.to_csv('Observar/df_2.csv', sep = ';', encoding = 'UTF-8', index = False)
#df_3.to_csv('Observar/df_3.csv', sep = ';', encoding = 'UTF-8', index = False)
#df_4.to_csv('Observar/df_4.csv', sep = ';', encoding = 'UTF-8', index = False)
#df_5.to_csv('Observar/df_5.csv', sep = ';', encoding = 'UTF-8', index = False)
#df_6.to_csv('Observar/df_6.csv', sep = ';', encoding = 'UTF-8', index = False)

In [600]:
df_1

,Fabricante,Modelo,Categoria,Motor,Ano,Janeiro,Fevereiro
0,VW,GOL,Veículo de Entrada,Termico,2021,6277,5847
1,FIAT,MOBI,Veículo de Entrada,Termico,2021,4784,6015
2,RENAULT,KWID,Veículo de Entrada,Termico,2021,3896,4905
3,FIAT,UNO,Veículo de Entrada,Termico,2021,2059,1963
4,VW,UP,Veículo de Entrada,Termico,2021,514,762
...,...,...,...,...,...,...,...
147,MITSUBISHI,L200,Pick-up Grande,Termico,2021,596,648
148,RAM,2500,Pick-up Grande,Termico,2021,304,115
149,VW,AMAROK,Pick-up Grande,Termico,2021,188,26
150,EFFA,V22,Pick-up Grande,Termico,2021,7,8
151,GM,SILVERADO,Pick-up Grande,Termico,2021,1,0

In [601]:
df_6

,Fabricante,Modelo,Categoria,Motor,Ano,Novembro,Dezembro
0,VW,GOL,Veículo de Entrada,Termico,2021,6866,8329
1,FIAT,MOBI,Veículo de Entrada,Termico,2021,638,2744
2,RENAULT,KWID,Veículo de Entrada,Termico,2021,3712,6775
3,FIAT,UNO,Veículo de Entrada,Termico,2021,97,1135
4,VW,UP,Veículo de Entrada,Termico,2021,1,0
...,...,...,...,...,...,...,...
157,NISSAN,FRONTIER,Pick-up Grande,Termico,2021,1363,1402
158,VW,AMAROK,Pick-up Grande,Termico,2021,583,1408
159,RAM,2500,Pick-up Grande,Termico,2021,13,38
160,RAM,1500,Pick-up Grande,Termico,2021,14,9
161,EFFA,V22,Pick-up Grande,Termico,2021,22,8

# Proximas Etapas

In [602]:
#Teste Merge
left = pd.DataFrame(
    {
        "Carro": ["UP", "Polo", "Nivus", "T-Cross"],
        "Janeiro": [10, 20, 30, 40],
        "Fevereiro": [5, 15, 25, 35],
    }
)

right = pd.DataFrame(
    {
        "Carro": ["UP", "Polo", "Jetta", "T-Cross"],
        "Março": [3, 13, 23, 33],
        "Abril": [7, 17, 27, 37],
    }
)

pd.merge(left, right, on="Carro", how = 'outer')

     Carro  Janeiro  Fevereiro  Março  Abril
0       UP     10.0        5.0    3.0    7.0
1     Polo     20.0       15.0   13.0   17.0
2    Nivus     30.0       25.0    NaN    NaN
3  T-Cross     40.0       35.0   33.0   37.0
4    Jetta      NaN        NaN   23.0   27.0

In [603]:
pd.merge(df_1, df_2, on=['Fabricante', 'Modelo', 'Categoria', 'Motor', 'Ano'], how = 'outer')

,Fabricante,Modelo,Categoria,Motor,Ano,Janeiro,Fevereiro,Março,Abril
0,VW,GOL,Veículo de Entrada,Termico,2021,6277.0,5847.0,6891.0,6420.0
1,FIAT,MOBI,Veículo de Entrada,Termico,2021,4784.0,6015.0,6725.0,6861.0
2,RENAULT,KWID,Veículo de Entrada,Termico,2021,3896.0,4905.0,5094.0,4358.0
3,FIAT,UNO,Veículo de Entrada,Termico,2021,2059.0,1963.0,4451.0,1569.0
4,VW,UP,Veículo de Entrada,Termico,2021,514.0,762.0,563.0,81.0
...,...,...,...,...,...,...,...,...,...
161,TOYOTA,COROLLA CROSS,SUV,Termico ou Hibrido,2021,NaN,NaN,37.0,1889.0
162,TROLLER,T4,SUV,Termico,2021,NaN,NaN,67.0,134.0
163,VOLVO,XC90,SUV,Termico ou Hibrido,2021,NaN,NaN,124.0,96.0
164,LAND ROVER,RANGE ROVER,SUV,Termico,2021,NaN,NaN,86.0,87.0
165,RAM,1500,Pick-up Grande,Termico,2021,NaN,NaN,0.0,39.0

In [604]:
df_1.merge(df_2, on=['Fabricante', 'Modelo', 'Categoria', 'Motor', 'Ano'], how = 'outer').\
    merge(df_3, on=['Fabricante', 'Modelo', 'Categoria', 'Motor', 'Ano'], how = 'outer').\
        merge(df_4, on=['Fabricante', 'Modelo', 'Categoria', 'Motor', 'Ano'], how = 'outer').\
            merge(df_5, on=['Fabricante', 'Modelo', 'Categoria', 'Motor', 'Ano'], how = 'outer').\
                merge(df_6, on=['Fabricante', 'Modelo', 'Categoria', 'Motor', 'Ano'], how = 'outer')

,Fabricante,Modelo,Categoria,Motor,Ano,Janeiro,Fevereiro,Março,Abril,Maio,Junho,Julho,Agosto,Setembro,Outubro,Novembro,Dezembro
0,VW,GOL,Veículo de Entrada,Termico,2021,6277.0,5847.0,6891.0,6420.0,6794.0,4742.0,1805.0,4082.0,3141.0,5039.0,6866.0,8329.0
1,FIAT,MOBI,Veículo de Entrada,Termico,2021,4784.0,6015.0,6725.0,6861.0,7443.0,7529.0,8059.0,7538.0,4573.0,2945.0,638.0,2744.0
2,RENAULT,KWID,Veículo de Entrada,Termico,2021,3896.0,4905.0,5094.0,4358.0,4851.0,6083.0,4864.0,3764.0,1963.0,2655.0,3712.0,6775.0
3,FIAT,UNO,Veículo de Entrada,Termico,2021,2059.0,1963.0,4451.0,1569.0,2666.0,2632.0,1403.0,1894.0,323.0,363.0,97.0,1135.0
4,VW,UP,Veículo de Entrada,Termico,2021,514.0,762.0,563.0,81.0,26.0,15.0,8.0,3.0,3.0,2.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182,GM,MERIVA,Monocab,Termico,2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,0.0,0.0
183,FIAT,500E,Hatch Pequeno,Elétrico,2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.0,77.0
184,FIAT,PULSE,SUV,Termico,2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2227.0,4432.0
185,JEEP,COMMANDER,SUV,Termico,2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1085.0,2185.0
186,GM,CHEVY,Pick-up Pequena,Termico,2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0